* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #635c5c;
}

.main {
    width: 428px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upper-section {
    background: url('../Imagenes/FondoDePagina.png') no-repeat center center;
    background-size: cover;
    padding: 60px;
    text-align: center;
    color: #fff;
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.tagline {
    font-size: 16px;
    font-weight: bold;
}

.login-container {
    background-color: #ff4b4b;
    padding: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #ffcccc;
}

.forgot-password {
    margin-bottom: 15px;
}

.forgot-password a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.social-login p {
    margin-bottom: 10px;
    color: #fff;
    font-size: 14px;
}

.social-login .main_link {
    display: inline-block;
    margin: 0 5px;
}

.social-login .main_icon {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.more-info {
    margin-top: 20px;
}

.more-info a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

