/*General*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.tab-content a:hover{
    background-color: white;
}

/*centrar y arial para las letras*/
body{
    text-align: center;
    font-family: arial;
}

/*redes sociales*/
.RedesSociales{
    display: flex;
    margin-left: 10px;
    img{
        width: 30px;
        height: 30px;
    }
}

.ContainerReviews{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    p{
        margin-bottom: 20px;
        font-size: 18px;
        color: white;
        padding: 0 50px;
    }
}
.active::after{
    content: ' ';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -3%;
    background-color: red;
}
/*nuevo*/
.container{
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  p{
    color: black;
  }
}

.tabs {
    background: #9b9b9b;
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
    border-right: none;
  }


.tabs .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tabs p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
  
.tabs .container > div {
    padding: 1.5rem 0;
}
  
.tabs .container > div:hover {
    color: #fff;
    cursor: pointer;
}
.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

  
  /* Tab Content */
  
.tab-content {
    
    height: 35pc ;
    padding: 3rem 0;
    background: #f5f5f5;
    color: #000;

    h3{
        font-size: 22px;
        text-align: left;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    p{
        text-align: left;
    }
}
  
/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content,
#tab-4-content,
#tab-5-content {
    display: none;
}

.tab-5-content-inner{
    img{
        display: flex;
        width: 15pc;
    }
}

.show {
    display: block !important;
}

/*el contenido de cada pestaña*/
#tab-1-content .tab-1-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
  
#tab-2-content .tab-2-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
  
#tab-3-content .tab-3-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
  
#tab-4-content .tab-4-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}
#tab-5-content .tab-5-content-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}


/*nuevo*/

/*Letras superiores como "INICIO" */
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

/*Ajustar el logo*/
.logo{
    margin-left:50px;
    margin-top: 150px;
    img{
        width: 180px;
    }
}

.logo a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

.navbar a:hover {
    background: #3f3f3f;
}
/*Imagen de fondo */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 120vh !important;
    background: url('../Imagenes/FondoDePagina.png') no-repeat center;
    background-size: cover;
}

/*titulos xd*/
.title{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.title2{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
/**/

p{
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
    padding: 0 50px;
}

/*botones*/
.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #FF4B4B;
    color: white;
    text-decoration: none;
    background: #FF4B4B ;
}

.box .btn{
    width: 5%;
}

/*Boton precio*/
.btnPrice{
    width: 20%;
    margin: auto;
}

.btn:hover {
    background: none;

}

.btn-home {
    display: flex;
}

.btn-home a{
    margin: 0 10px;
}

.Apple, .Android{
    background: transparent;
    border: none;

}



/**/
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



/*El cuadro de texto a escribir*/
.box-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgb(0,0, .5);
    margin: 2rem;
    flex-direction: column;
}

.box-container .box{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 90%;

    text-align: center;
    align-items: center;
    
}

/*Para los precios que deberian ser 2*/

.box-container .box i{

    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: 2rem;
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3{
    font-weight: bolder;
    font-size: 50px;
    color: black
}

.box-container .box p{
    padding: 0 15px;
    font-size: 16px;
}

/*APARTADO NOSOTROS */
.about{
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.NosotrosBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: #FF4B4B;
    width: 25%;
    height: 20pc;
    border-radius: 10px;
    
    text-align:center;
}


/*APARTADO PRECIO */
.price{
    background: url('../Imagenes/FondoDePagina.png') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;

}

/*Fondo 2*/
.contain{
    /*background: rgba(255, 255, 255, 0.302);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.contact{
    /*siempre se pone xd*/
    display: flex;
    flex-direction:row ;
    /**/
    justify-content: space-around;
    padding-top: 20px;
    background: black;
    padding-bottom: 0;

    .boxcontactos{
        height: 60%;
        border: 1px solid white;
        border-radius: 30px;
        display: flex;
        flex-direction:column ;
        justify-content: space-evenly;
        width: 25%;
        align-items: center;

        div{
            display: flex;
            flex-direction:column ; 
            width: 50%;
        }
        
    }
}
.LearnMore,.Contactos, .SocialMedia{
    color: white;
    text-align: center;

    h2{
        font-size: 50px; 
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 20px; 
        
    }
}


/*caja de botones precio uwu*/
.BoxbtnPrice{
    display: flex;
    justify-content: space-around;
}

/*caja de los planes*/
.PlanesBox{
    background: #b3b3b3;
    width: 15%;
    height: 50pc;
    border-radius: 20px;

    /*referencia a la imagen*/
    img{
        margin-top: 20px;
    }
}

/*letras del pbasico */
.PBasico p:nth-child(5){
    color: #FF4B4B;
}

/*INICIO LETRITAS*/
.InfoCTN{
    background: #3f3f3f60;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;

}

.txt{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 30%;
    p{
        text-align: left;
        
    }
    h2{
        text-align: left;
        font-size:50px ;
        color: white;
        font-weight: bolder;
        margin-left: 50px;
    }
}

/*Apartado de carateristicas*/
.sau {
    padding: 40px;
    background: #FF4B4B;
    height: 110vh;
    display: grid;
    grid-column: auto;
    
    grid-template-areas: 
    "img1 text1"
    "text2 img2";
    

}
.img1{
    grid-area: img1;
    
    
}
.img2{
    grid-area: img2;
}
.text1{
    grid-area: text1;
    
}
.text2{
    grid-area: text2;
}

.box1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*centrar cajas*/
    align-items: center;
    div{
        background: black;
        border-radius: 30px;
        padding: 3%;
        width: 50%
    }
}
/**/

.PlanesBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    div{
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Sección Pie de Página - Footer*/
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.mapita{
    height: 50pc ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FF4B4B;
    h2{
        font-size: 50px;

    }
}

@media (max-width: 960px) {
    .showcase {
      height: 70vh;
    }
  
    .hide-sm {
      display: none;
    }
  
    .showcase-top img {
      top: 30%;
      left: 5%;
      transform: translate(0);
    }
  
    .showcase-content h1 {
      font-size: 3.7rem;
      line-height: 1;
    }
  
    .showcase-content p {
      font-size: 1.5rem;
    }
  
    .footer .footer-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .btn-xl {
      font-size: 1.5rem;
      padding: 1.4rem 2rem;
    }
  
    .text-xl {
      font-size: 1.5rem;
    }
  
    .text-lg {
      font-size: 1.3rem;
    }
  
    .text-md {
      font-size: 1rem;
    }
  }
  